.carCrash {
  width: 40%;
  top: -150px;
  position: absolute;
  z-index: 1;
  opacity: 1;
}

@media screen and (max-width: 1200px) {
  .carCrash {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .carCrash {
    width: 100%;
    top: -300px;
  }
}

@media screen and (max-width: 500px) {
  .carCrash {
    top: -200px;
  }
}

.background {
  width: auto;
  height: auto;
  position: absolute;
  margin-top: -9%;

  z-index: 1;
}
